body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}
#container{
width: 800px;
height: 550px;
background-image: url("pic.jpg");
background-repeat: no-repeat;
background-size: cover;
margin: 50px auto;
}
#box{
 
    width: 320px;
    height: 520px;
    background-color: whitesmoke;
    position: relative;
    margin: 7px auto;
    top: 25px;
    border-radius: 15px;
    box-shadow: 5px 6px 8px #888888;
}
#result{
    height: 130px;
}
#keyboard{
    height: 400px;
}
#history{
    text-align: right;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    color: #919191 ;
    height: 20px;
}
#output{
    text-align: right;
    font-size: 30px;
    margin: 10px;
    height: 60px;
}
.operator,.number,.empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50px;
    border-width: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(221, 214, 214);
}
.operator,.number{
    cursor: pointer;
}
.operator:active,.number:active{
    font-size: medium;
}
.operator:focus,.number:focus,.empty:focus{
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: coral;
}
button:nth-child(8){
    font-size: 20px;
    background-color: cornflowerblue;
}
button:nth-child(12){
    font-size: 20px;
    background-color: palevioletred;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(20){
    font-size: 20px;
    background-color: palegreen;
}

